<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <header class="container-fluid " style="background-color: lightgray; padding-top: 10px; padding-bottom: 10px;">
        <div class="row justify-content-between" style="padding-left: 10px; padding-right: 10px">
        <img src="/images/logos/ucm_logo_header.png" >
        <h1 class="font-weight-bold" style="padding-top: 15px;">Título de la página</h1>
        <button class="" style="height: 30px;">Configurar página</button>
    </div>
    </header>
    <nav style="background-color: rgba(0, 0, 0, 0.801);" >
        <div class="container-fluid row" class="padding-top: 20px; padding-bottom: 20px; ">
            <a style="color: white; padding-right: 15px; padding-left:10px; padding-top: 10px; padding-bottom: 10px;">Inicio</a>
            <a style="color: white; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">Acerca de</a>
            <a style="color: white; padding-right: 15px; padding-top: 10px; padding-bottom: 10px;">Contacto</a>
        </div>
    </nav>
    <section style="padding: 20px;">
        <div class="container-fluid" style="background-color: rgba(224, 222, 222, 0.863); padding: 20px;">
            <h2>Sección 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.
                Aenean nec lorem. In porttitor. Donec laoreet nonummy augue.
                Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
                </p>
        </div>
    </section>
    <section style="padding: 20px;">
        <div class="container-fluid" style="background-color: rgba(224, 222, 222, 0.863); padding: 20px;">
            <h2>Sección 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.
                Aenean nec lorem. In porttitor. Donec laoreet nonummy augue.
                Suspendisse dui purus, scelerisque at, vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.
                </p>
        </div>
    </section>
    <footer>
        <div class="container-fluid" style="background-color: rgba(0, 0, 0, 0.801); padding-top: 10px; padding-bottom: 10px;">
            <div class="row justify-content-between" style="padding-left: 10px; padding-right: 10px">
                <div class="col">
                    <p style="color: white">Inicio</p>
                    <p style="color: white">Acerca de</p>
                    <p style="color: white">Contacto</p>
                </div>
                <div class="col">
                    <img src="/images/logos/ucm_logo_footer.png">
                    <p>C/Prof José García Santesmases</p>
                    <p>28040 - Madrid</p>
                    <p>Tlfn 91 394 75 01</p>
                    <p>Fax 91 394 75 01</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>


