<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <title>Document</title>
</head>
<body class="container-fluid">
    <section class="center-screen" >
        <h1>Registro Intranet</h1>
            <form id="registerForm" class="gap_top" action="/registro" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos:</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña:</label>
                    <input type="password" class="form-control" id="pass" name="pass" required>
                </div>
                <div class="form-group">
                    <label for="pic">Foto:</label>
                    <input type="file" class="form-control-file" id="pic" name="pic">
                </div>
                <button class="btn btn-primary" type="submit">Registrarse</button>
            </form>
    </section>

    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
</body>
</html>