<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </head>
  <body>
     <section>
      <div class="container 2 d-flex justify-content-center" style="padding-top: 100px;">
        <img src="/images/glovo.svg" class="" style="width: 200px;">
      </div>
      <div class="container  d-flex justify-content-center" style="padding-top: 50px;">
        <h1 class="blanco font-weight-bold">Lo que sea en <span class="verde">Madrid</span></h1>
      </div>
      <h2 class="d-flex justify-content-center blanco font-weight-bold">Entrega en unos minutos</h2>
      <div class="row d-flex justify-content-center" style="padding-bottom: 30px; padding-top: 50px;">
        <img class="rounded-circle" src="/images/comida.png" style="padding-right: 15px; padding-left: 15px;">
        <img class="rounded-circle" src="/images/tiendas.png" style="padding-right: 15px; padding-left: 15px;">
        <img class="rounded-circle" src="/images/alimentacion.png" style="padding-right: 15px; padding-left: 15px;">
        <img class="rounded-circle" src="/images/loquesea.png" style="padding-right: 15px; padding-left: 15px;">
        <img class="rounded-circle" src="/images/drinks.png" style="padding-right: 15px; padding-left: 15px;">
      </div>  
      <div class="row d-flex justify-content-center">
        <img class="rounded-circle" src="/images/express.png" style="padding-right: 15px; padding-left: 15px;">
        <img class="rounded-circle" src="/images/dona.png" style="padding-right: 15px; padding-left: 15px;">
        <img class="rounded-circle" src="/images/snacks.png" style="padding-right: 15px; padding-left: 15px;">
      </div>
    </section>
  </body>
</html>
